html{
    background: #fafafa;
    height: 100vh;
}
a{text-decoration:none; color: #000000;} 
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }
.header{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 54px;
    border-bottom:0.5px solid #f2f2f2 ;
    background: #ffffff;
}
.side-bar{
    display: none;
}
.story{
    background: #ffffff;
    margin-top: 80px;
}
.content__main{
    width: 100%;
    float: left;
}
.not-found{
    width: 935px;
    height: 200px;
    font-size: 120px;
    margin: auto;
    margin-top: 400px;
    text-align: center;
}
.modal__overlay{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.close__screen{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background-color: rgba( 0, 0, 0, 0.5 );
}
.content__home{
    width: 100%;
}
.follow-modal{
    position: relative;
    z-index: 1002;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
    display: flex;
    flex-direction: column;
}
.follow-modal__profile{
    width: 90px;
    height: 90px;
    background: blueviolet;
    border-radius: 100%;
    margin: auto;
    margin-top: 40px;
}
.follow-modal__text{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.follow__cancel{
    border: 0;
    border-top: #dddddd 1px solid;
    height: 48px;
    background: none;
    font-weight: bold;
    color: red;
    outline: 0;
    cursor: pointer;
}
.follow__cancel__cancel{
    border: 0;
    border-top: #dddddd 1px solid;
    height: 48px;
    background: none;
    outline: 0;
    cursor: pointer;
}
.functionButton{
    z-index: 10000;
    width: 60px;
    height: 20px;
}
@media screen and (min-width: 768px){
    .content{
        width: 935px;
        display: flex;
        margin: auto;
    }
    .side-bar{
        display: inline;
        top: 80px;
    }
}