.messege__background{
    margin-top: 80px;
    width: 935px;
    height: 875px;
    border: 1px solid #dddddd;
    border-radius: 1%;
    background: #ffffff;
    display: flex;
}
.messege-box{
    width: 583px;
    height: 100%;
}