.messege__background{
    margin-top: 80px;
    width: 935px;
    height: 875px;
    border: 1px solid #dddddd;
    border-radius: 1%;
    background: #ffffff;
    display: flex;
}
.messege-box{
    width: 583px;
    height: 100%;
}
.create__messege{
    width: 100%;
    height: 875px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.messege__send__icon__box{
    width: 100px;
    height: 100px;
    border: 3px solid #000000;
    border-radius: 100%;
    display: flex;
}
.messege__send__icon{
    width: 56px;
    height: 56px;
    margin: auto;
}
.meesege__send__basic__title{
    font-size: 22px;
    text-align: center;
    margin-top: 20px;
}
.meesege__send__basic__subtitle{
    font-size: 14px;
    color: #888888;
    text-align: center;
    margin-top: 10px;
}
.create__messege__button__box{
    width: 120px;
    margin: auto;
    margin-top: 10px;
}
.create__messege__button{
    background-color: #0095f6;
    font-size: 14px;
    color: #ffffff;
    width: 120px;
    height: 30px;
    border: 0;
    border-radius: 4px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}