.post__header{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    display: flex;
}
.post__header__profile{
    width: 32px;
    height: 32px;
    border-radius: 100%;
}
.post__header__profile__picture{
    width: 32px;
    height: 32px;
    border-radius: 100%;
}
.post__header__id{
    margin: auto; 
    margin-left: 20px;
    vertical-align: middle;
    font-weight: 600;
}
.more{
    width: 16px;
    height: 16px;
    padding-top: 8px;
}
.post__picture{
    width: 100%;
    position: relative;
    padding-bottom: 100%;
    margin-top: 10px;
    background: #000000;
}
.post__picture__inner{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.post__comment__icon{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    display: flex;
}
.post__heart,
.post__comment,
.post__send,
.post__bookmark
{
    width: 24px;
    height: 24px;
    margin-right: 20px;
}
.post__bookmark{
    margin: auto;
    margin-right: 0;
}
.post__comment__like{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    font-size: 14px;
    display: flex;
}
.post__comment__profile{
    width: 20px;
    height: 20px;
    border-radius: 100%;
}
.post__comment__like__text{
    margin: 0;
    vertical-align: middle;
    margin-left: 10px;
}
.post__comment__title{
    width: 80%;
    margin: auto;
    margin-top: 5px;
    display: flex;
    font-size: 14px;
}
.post__comment__id{
    margin: 0;
}
.post__title{
    margin: 0;
    margin-left: 5px;
}
.post-more{
    margin: 0;
    color: #8A807C;
}
.post__comment__text{
    width: 80%;
    margin: auto;
    margin-top: 5px;
    font-size: 14px;
}
.post__more__comment{
    margin-top: 0;
    margin-bottom: 0;
    color: #8A807C;
}
.post__comment__comment{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}
.post__comment_comment__text{
    margin: 0;
    margin-left: 5px;
}
.add__comment{
    display: none;
}
@media screen and (min-width: 768px){
    .post{
        margin-top: 20px;
        width: 614px;
        background: #ffffff;
        border: 1px solid #dddddd;
    }
    .add__comment{
        width: 100%;
        height: 56px;
        border-bottom: 1px solid #dddddd;
        border-top: 1px solid #dddddd;
        margin-top: 10px;
        display: flex;
    }
    .add__comment__input{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 0;
        border: 0;
        width: 90%;
        height: 100%;
        margin-left: 20px;
    }
    .add__comment__input:focus{
        outline: none;
    }
    .add__comment__button{
        border: 0;
        background: none;
        color: blue;
        outline: none;
        cursor: pointer;
    }
    .post-picture-box{
        width: 614px;
        height: 614px;
        padding-bottom: 0%;
    }
}