.side-tab{
    width: 350px;
    height: 100%;
    border-right: 1px solid #dddddd;
}
.side-tab__header{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #dddddd;
    display: flex;
}
.side-tab__title{
    width: 245px;
    height: 18px;
    margin: auto;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.side-tab__header__icon{
    width: 24px;
    height: 24px;
    flex-direction: row;
}
.create__messege{
    width: 24px;
    height: 24px;
}