html{
    background: #fafafa;
    height: 100vh;
}
.header{
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 54px;
    border-bottom:0.5px solid #f2f2f2 ;
    background: #ffffff;
}
.side-bar{
    display: none;
}
@media screen and (min-width: 768px){
    .side-bar{
        display: inline;
    }
}