.story__inner{
    width: 100%;
    height: 120px;
    margin-top: 5px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}
.story__list{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
}
.story__list__profile{
    width: 56px;
    height: 74px;
    margin-right: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
}
.story__list__id{
    margin: auto;
    font-size: 14px;
    text-align: center;
}
.profile{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.story__list__profile-border{
    width: 56px;
    height: 56px;
    margin: auto;
    padding: 1rem;
    border-radius: 100%;
    background: linear-gradient(to right, red, purple);
    padding: 3px;
}
@media screen and (min-width: 768px){
    .story{
        width: 614px;
        margin-top: 80px;
        background: none;
    }
    .story__inner{
        width: 614px;
        height: 116px;
        margin-top: 30px;
        background: #ffffff;
        border: 1px solid #dddddd;
    }
}